
<h1>Listing users</h1>
 
<table>
  <tr>
    <th>Username</th>
    <th></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= link_to 'Show all', user_path(user) %></td>
      <td><%= link_to 'Add comment', new_comment_path(:comment => { :user_id => user.id }) %></td>
    </tr>
  <% end %>
</table>